body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3CB861;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}

button {
    margin: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #3CB861;
    font-size: 20px;
    cursor: pointer;
    height: 60px;
    width: 150px;
}

footer {
    background-color: #3CB861;
    /* padding: 10px; */
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.message {
    padding: 40px;
    margin-bottom: 20px;
    background-color: #EC7063;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}